pillow
aiohttp
argparse
asyncio
bottle
bson
cherrypy
flask
jq
kafka-python
#logging
mitmproxy
mysql-connector-python
numpy
pyodps
pandas
pykafka
pymongo
pymysql
python-consul
redis-py
requests
scapy
sklearn
sqlalchemy
ujson
#urllib2
xlrd
yagmail
